---
const { ventaja, numero } = Astro.props
---

<article class="max-w-96 w-full min-h-24 p-5 relative overflow-hidden z-10 text-white">
  <h3 class="text-4xl font-bold mb-2 underline cursor-pointer">{numero}</h3>
  <p class="text-base mb-2">{ventaja}</p>
</article>